@import '~antd/dist/antd.css';

body {
  background: rgb(5, 34, 85);
  padding: 180px;
  font-family: sans-serif;
  text-align: left;
}

.txt {
  font-size: 3em;
  color: white;
  display: inline-block;
  
}



.btn{
  margin-top:50px;
  margin-left:60%;
}

.ProgressB{
  margin-left: 35%;
  margin-bottom:45px;
  width:250px;
     
}